@import '../../../styles/utils/mixins';
@import '../../../styles/utils/palette';

$backdrop-z-index: 10000;

.backdrop {
    @include position-absolute-fill();

    background-color: $white;
    opacity: .8;
    z-index: $backdrop-z-index;
}

.spinner {
    @include position-absolute-center();
    z-index: ($backdrop-z-index + 1);
}
