.intro {
    margin-right: 1.25rem;
}

.grid {
    display: inline-block;
}

.line {
    display: flex;

    & ~ & .cell {
        margin-top: -1px;
    }
}

.cell {
    background-color: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
    height: 1.75rem;
    min-width: 1.75rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 1.75rem;
    z-index: 0;

    & ~ & {
        margin-left: -1px;
    }

    &:not(:disabled) {
        &:hover {
            background-color: #6c757d;
            border-color: #6c757d;
            color: #fff;
            z-index: 1;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}
