<div *ngIf="ready" class="text-center">
  <div *ngIf="!started">

    <span class="intro">Please select a level:</span>

    <div class="btn-group">
      <button
        *ngFor="let level of levels"
        class="btn btn-secondary"
        type="button"
        (click)="start(level)"
      >
        {{level}}
      </button>
    </div>
  </div>

  <div *ngIf="started">
    <div class="automated-switch custom-control custom-switch">
      <input
        id="automatedCheckbox"
        class="custom-control-input"
        type="checkbox"
        [disabled]="finished"
        [checked]="automated"
        (change)="onAutomatedChange(!automated)"
      >

      <label class="custom-control-label" for="automatedCheckbox">Automated</label>
    </div>

    <egt-minesweeper-grid
      [disabled]="finished"
      [grid]="grid"
      (cellOpen)="open($event)"
    ></egt-minesweeper-grid>
  </div>
</div>
