<div *ngIf="ready" class="text-center">
  <div *ngIf="!started">

    <span class="intro">Please select a level:</span>

    <div class="btn-group">
      <button
        *ngFor="let level of levels"
        class="btn btn-secondary"
        type="button"
        (click)="start(level)"
      >
        {{level}}
      </button>
    </div>
  </div>

  <div *ngIf="started">
    <egt-minesweeper-grid
      [disabled]="finished"
      [grid]="grid"
      (cellOpen)="open($event)"
    ></egt-minesweeper-grid>
  </div>
</div>
