<div class="grid">
  <div *ngFor="let row of grid; let rowIndex = index" class="line">
    <button
      *ngFor="let cell of row; let colIndex = index"
      class="cell"
      type="button"
      [ngClass]="{
        'closed': isClosed(rowIndex, colIndex) && !isFlagged(rowIndex, colIndex),
        'flag': isClosed(rowIndex, colIndex) && isFlagged(rowIndex, colIndex),
        'open': !isClosed(rowIndex, colIndex),
        'mine': isMine(rowIndex, colIndex)
      }"
      [disabled]="disabled"
      (click)="open(rowIndex, colIndex)"
      (contextmenu)="toggleFlag($event, rowIndex, colIndex)"
    >
      {{isClosed(rowIndex, colIndex) && isFlagged(rowIndex, colIndex) ? '!' : cell}}
    </button>
  </div>
</div>
