@import '../../../styles/utils/palette';

$cell-border-size: 1px;
$cell-size: 1.75rem;
$cell-z-index: 0;

.grid {
  display: inline-block;
}

.line {
  display: flex;

  & ~ & .cell {
    margin-top: -$cell-border-size;
  }
}

.cell {
  border: $cell-border-size solid $gray;
  cursor: default;
  height: $cell-size;
  min-width: $cell-size;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: $cell-size;
  z-index: $cell-z-index;

  & ~ & {
    margin-left: -$cell-border-size;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &.unknown {
    background-color: $gray-light;
    color: transparent;

    &:not(:disabled) {
      &:hover {
        background-color: $gray;
        cursor: pointer;
        z-index: ($cell-z-index + 1);
      }
    }
  }

  &.flag {
    background-color: $yellow-light;
    color: $yellow-dark;
  }

  &.open {
    background-color: $white;
    color: $gray-dark;
  }

  &.mine {
    background-color: $red-light;
    color: $red-dark;
  }
}
